/* Common Styles */
.App,
.NOMADChoiceSelect,
.NOMADTopbar,
.NOMADBottomBar,
.NOMADScreenTable,
.NOMADTable,
.NOMADAltimeterTable,
.EndScreenTable,
body,
.NOMADLabel,
.NOMADInformationLabel,
.NOMADButton,
.NOMADCBRPCNButton,
.selected,
.EndScreen,
.modal,
.modal-content,
.close {
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Base Styles for App */
.App {
    font-size: 1rem;
}

/* Portrait and Landscape Styles */
@media (orientation: portrait),
(orientation: landscape) {
    .App {
        font-size: 2.5vmax;
    }

    .NOMADChoiceSelect {
        font-size: 1.5vmax;
    }

    label {
        font-size: 1.5vmax;
    }

    .NOMADTopbarButtons,
    .NOMADNavButtons {
        flex-direction: row;
        align-items: center;
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 1.5vmin;
    }

    .NOMADButton,
    .NOMADCBRPCNButton {
        margin-top: 0;
        margin-left: 0.5em;
        font-size: 0.6vmin;
    }
}

/* Landscape Styles */
@media (orientation: landscape) {
    .App {
        font-size: 2.5vmin;
    }

    label {
        font-size: 3vmin;
    }
}

/* Landscape Styles for Small Phones */
@media (orientation: landscape) and (max-width: 767px) {
    .App {
        font-size: 2vmin;
    }

    .NOMADChoiceSelect {
        font-size: 1.5vmin;
    }

    label {
        font-size: 1.5vmin;
    }

    .NOMADCBRPCNButton {
        font-size: 1.5vmin;
    }

    table {
        border-spacing: 0;
    }

    .NOMADTopbarButtons,
    .NOMADNavButtons {
        font-size: 1.2vmin;
    }
}

/* Common Styles for Headers and Top Bars */
.App-header,
.NOMADTopbar,
.NOMADBottomBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NOMADTopbar,
.NOMADBottomBar {
    color: white;
    background-color: #282c34;
}

/* Styles for Tables */
.NOMADScreenTable,
.NOMADTable,
.NOMADAltimeterTable,
.EndScreenTable {
    width: 100%;
    table-layout: fixed;
}

/* Styles for Choice Selects */
.NOMADChoiceSelect {
    width: 90%;
    height: 3em;
    text-align: center;
    padding: 0.5em;
    box-sizing: border-box;
}

/* Styles for Swipe Containers */
.swipe-container {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.react-swipeable-view-container {
    width: 100%;
    height: 100%;
}

/* Styles for Body and Labels */
body {
    background-color: #282c34;
    margin: 0;
    padding: 0;
    min-height: 95vh;
    color: white;
    font-size: 2vmin;
}

.NOMADLabel,
.NOMADInformationLabel {
    font-size: 1.5vmin;
    color: white;
}

/* Styles for Buttons */
.NOMADButton,
.NOMADCBRPCNButton {
    font-size: 2vmin;
    cursor: pointer;
    margin-top: 2vmin;
    justify-content: space-between;
    width: 10vmin;
    height: 10vmin;
    background-color: forestgreen;
    width: 25vmin;
}

.NOMADCBRPCNButton {
    font-size: 2.2vmin;
}

/* Selected Style */
.selected {
    background-color: #282c54;
    color: white;
}

/* End Screen Styles */
.EndScreen {
    width: 100%;
    color: white;
    background-color: #393d45;
    text-align: left;
}

.EndScreenTable {
    border-width: thin;
    text-align: left;
    width: 100%;
    table-layout: fixed;
}

/* Modal Styles */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    padding-bottom: 60px;
    max-height: 100vh;
    overflow-y: auto;
}

.modal-content {
    background-color: #4a4d56;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.IRISChoiceSelect {
    background-color: darkseagreen;
}