.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  width: 100vw;
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

div {
  display: block;
}

.App-link {
  color: #61dafb;
}

.LandingPageButton {
  width: 30vw;
  height: 30vw;
}

.LandingPage {
  height: 80vh;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LandingPageTitle {
  font-size: 10vw;
}

.LandingPageButtonDiv {
  margin-top: 2em;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.EndScreenTable {
  font-size: 2vmin;
  justify-content: center;
}

.LandingPageButton {
  font-size: 7vw;
  margin: 1vw;
  position: relative;
  background-color: transparent;
  border: none;
  color: #ffF;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.TopbarButton {
  position: relative;
  background-color: transparent;
  border: none;
}

.BottombarButton {
  position: relative;
  background-color: transparent;
  border: none;
}

.NOMADBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/Media/NOMADIcon.png');
  background-size: cover;
  animation: spinImage 300s linear infinite;
  /* Adjust the opacity value (0.5 for 50% transparent) */

}


.NineLineBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../src/Media/NineLineIcon.png');
  background-size: cover;
  animation: spinImage 300s linear infinite;
}

.BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../public/logo512.png');
  background-size: cover;
  animation: spinImage 300s linear infinite;
}

.BottomBackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./Media/PasteIRISCode.png');
  background-size: cover;
  animation: spinImage 300s linear infinite;
}


.ButtonText {
  position: relative;
  color: #000;
  text-shadow: -2px -2px 0 #FFF, 2px -2px 0 #FFF, -2px 2px 0 #FFF, 2px 2px 0 #FFF;
}

@keyframes spinImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.TopBar {
  top: 0;
  text-align: -webkit-center;

}

.BottomBar {
  bottom: 0;
}

.TopBar,
.BottomBar {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vmin;
}

.BottomBarButtons,
.TopbarButtons {
  width: 95%;
  height: 10vmin;
  color: #000;
  border: none;
  text-align: -webkit-center;
}

.BottomBarButtons {
  display: flex;
  justify-content: space-around;
}


.BottombarButton,
.TopbarButton {
  width: 10vmin;
  height: 10vmin;
  justify-content: space-between;
}

.swipe-container {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-swipeable-view-container {
  width: 100%;
  height: 100%;
}

.modal {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  padding-bottom: 60px;
  max-height: 100vh;
  overflow-y: auto;
}

.modal-content {
  background-color: #4a4d56;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.ModalTabel {
  width: 100%;
}

.InputDIV {
  background-color: #171a23;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.InputTable {
  width: 100%;
  table-layout: fixed;
}

.IRISChoiceSelect {
  width: 90%;
  height: 3em;
  text-align: center;
  box-sizing: border-box;
  font-size: .5em;
}

.GoBacktoHomeDiv {
  text-align: end;
}

.GoBacktoHomeButton {
  width: 10vmin;
  height: 10vmin;
  background-color: #fff;
  color: #000;
  border: none;
}